<!-- ajout de la partie head de la structure -->
<% include head.ejs %>
<body>
    <!-- ajout de la partie menu et de la barre de recherche de la structure -->
    <% include header.ejs %>
    <!-- Création du tableau des hotels -->
    
    <div class="container text-center card-group">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/hotel-le-cilaos.jpg" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-text"><%= hotels %></h1>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text"><%= clients %></p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text"><%= reservations %></p>
            </div>
        </div>
    </div>
  



   <table class="table w-75 mt-5 text-center">
    <thead>
      <tr>
        <th scope="col">Hotels</th>
        <th scope="col">Clients</th>
        <th scope="col">Réservations</th>
      </tr>
    </thead>
    <tbody>
    <!-- Boucle d'ajout des hotels -->
        <tr>  
            <th class="text-center" scope="row"><%= hotels %></th>
            <td class="text-center"><%= clients %></td>
            <td class="text-center"><%= reservations %></td>
        </tr>
    </tbody>
  </table>
<!-- ajout de la partie footer de la structure -->
    <% include footer.ejs %>
</body>